{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

<div class="example-wrapper">
     {% for p in products %} 
         <h1>{{ p.productName }}</h1>
         <br>
         <img src="{{ asset('uploads/images/') ~ p.productPhoto }}">
         <br>
         <a href={{ path('product.delete', {'product': p.getProductId()}) }}>delete</a>
         <a href={{ path('product.edit', {'product': p.getProductId()}) }}>edit</a>
         <a href={{ path('product.detail', {'product': p.getProductId()}) }}>detail</a>
     {% endfor %}


</div>
{% endblock %}
{% block footer %}
{% endblock %}
