{% extends 'base.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block body %}

    <div calss="container">
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1>Edit Account</h1>

    {{ form_start(editUserForm) }}
    {{ form_row(editUserForm.email) }}
    {{ form_row(editUserForm.plainPassword, {
        label: 'Password'
    }) }}

        {{ form_end(editUserForm) }}
    <button type="submit" class="btn">save</button>

    </div>
{% endblock %}
